body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-center{
  padding: 2rem;
}
.counter-button{
  display: block;
  padding: 0.5rem;
  background-color: #2e9a40;
  color: white;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #2e9a40;
  cursor: pointer;
}

.counter-button:hover{
  background-color: #29903b;
}